@import "colors";
@import "settings";
@import "typography";
@import "foundation";

body {
  background-color: #EEE;
}

.login {
  background-color: $background-color;
  padding: 30px 0;
}

.login-container {
  background-color: #FFF;
  opacity: 0.8;
  border-radius: 15px;
  padding: 10px;

  .icon {
    font-size: 20px;
    vertical-align: middle;
    margin-right: 2px;
  }
}

.til-list {
  padding: 10px inherit;
  background-color: $background-color;
}

.til-item {
  background-color: #FFF;
  padding-top: 10px;
  margin-top: 10px;

  .til-posted {
    font-style: italic;
    font-size: 0.8em;
  }
}
