---
name: home
url: /
controller: 'AuthController'
---

<div class="row">
  <div class="medium-offset-2 medium-8 columns end">
    <div class="login">
      <h1>#til</h1>
      <h3>Today I learned</h3>

      <hr/>
      <h6>Log In</h6>

      <button ng-click="loginUser('facebook')">Facebook</button>
      <button ng-click="loginUser('twitter')">Twitter</button>
      <button ng-click="loginUser('google')">Google</button>
      <button ng-click="loginUser('github')">Github</button>
    </div>
  </div>
</div>
